[Desktop Entry]
Encoding=UTF-8
Name=RGNCoin Core
Comment=Connect to the RGNCoin P2P Network
Comment[de]=Verbinde mit dem RGNCoin peer-to-peer Netzwerk
Comment[fr]=Dogecoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Dogecoin, eşten eşe kriptografik sanal para birimi
Exec=rgncoin-qt %u
Terminal=false
Type=Application
Icon=rgncoin128
MimeType=x-scheme-handler/rgncoin;
Categories=Office;Finance;
